body {
    margin: 0;
    padding: 0;
    background: linear-gradient(45deg, aliceblue, burlywood, beige, antiquewhite);
    background-size: 5000% 5000%;
    animation: gradientMove 10s ease infinite;
    overflow-x: hidden;
    color: black;
}

@keyframes gradientMove {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@font-face {
    font-family: rider;
    src: url(../fonts/Black\ Rider.otf);
}

@font-face {
    font-family: null;
    src: url(../fonts/Null_Free.otf);
}

@font-face {
    font-family: questrail;
    src: url(../fonts/Questrial-Regular.ttf);
}

@font-face {
    font-family: without;
    src: url(../fonts/WithoutAltSans-Bold.ttf);
}

.navbar{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}

.navbar h2{
    font-family: without
}



.navbar .icons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 50%;
    align-items: center;
}

.navbar .icons a{
    font-family: questrail;
    text-decoration: none;
    color: black;
    background-color: none;
    transition:all 0.2s ease-in;
}

.navbar .icons a:hover{
    color: goldenrod;
}



.icons div{
    background-color: none;
    padding: 10px;
    transition:all 0.6s ease-in;
}

.icons div:hover{
    background-color: black;
    color: goldenrod;
}

.week{
    display: flex;
    flex-direction: row;
    text-align: center;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 5%;
    font-family: without;
}

.week a{
    font-size: 3em;
}

h3{
    text-align: center;
    font-family: questrail;
}

.match-form{
    width: 100%;
    text-align: center;
}

.match-form button{
    padding: 5px;
    margin-left: 12px;
    margin-top: 2%;
}

.foto{
  width: 50px;
  height: 50px;
  object-fit: cover; 
  border-radius: 5px; 
  border: none;
}

.foto1{
     width: 50px;
  height: 50px;
  object-fit: cover; 
  border-radius: 5px; 
  border: none;
}

.gameday{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    text-align: center;
    justify-content: space-evenly;
}

.score{
    font-family: null;
    font-size: 2em;
}

