body {
    margin: 0;
    padding: 0;
    background: linear-gradient(45deg, gold, orange, beige, aliceblue);
    background-size: 5000% 5000%;
    animation: gradientMove 10s ease infinite;
    overflow-x: hidden;
    color: black;
}

@keyframes gradientMove {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@font-face {
    font-family: rider;
    src: url(../fonts/Black\ Rider.otf);
}

@font-face {
    font-family: null;
    src: url(../fonts/Null_Free.otf);
}

@font-face {
    font-family: questrail;
    src: url(../fonts/Questrial-Regular.ttf);
}

@font-face {
    font-family: without;
    src: url(../fonts/WithoutAltSans-Bold.ttf);
}

.navbar{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}

.navbar h2{
    font-family: without
}



.navbar .icons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 50%;
    align-items: center;
}

.navbar .icons a{
    font-family: questrail;
    text-decoration: none;
    color: black;
    background-color: none;
    transition:all 0.2s ease-in;
}

.navbar .icons a:hover{
    color: goldenrod;
}



.icons div{
    background-color: none;
    padding: 10px;
    transition:all 0.6s ease-in;
}

.icons div:hover{
    background-color: black;
    color: goldenrod;
}


img{
  width: 50px;
  height: 50px;
  object-fit: cover; 
  border-radius: 5px; 
  border: none;
}

h2{
    font-family: null;
    text-align: center;
    margin-top: 3%;
}


table{
    width: 80%;
    margin-left: 10%;
    text-align: center;
    align-items: center;
    margin-top: 5%;
    background-color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    gap: 2px;
    color: black;
}

table th{
    font-family: without;
    margin-top: -2%;
    border-bottom: 1px solid black;
}


table td{
    font-family: questrail;
     color: black;
    margin-top: 20%;
    padding: 10px 20px;
    
}

table tr{
    transition: background-color 1s ease-in-out;
}

table tr:hover{
    background-color: wheat;
}

.position{
    font-family: without;
}


.footer{
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: beige;
    margin-top: 10%;
    padding: 1px;
}

.footer .links{
    display: flex;
    flex-direction: column;
}

.footer .links a{
    margin-top: 0.5%;
    font-family: questrail;
    font-size: small;
    text-decoration: none;
    color: black;
}

.footer .footericon{
    margin-top: 2%;
}

.footericon ion-icon{
    margin-left: 10px;
    font-size: larger;
    border: 1px solid black;
    padding: 5px;
    box-shadow: 1px 1px black;
}

.footer .passages p{
    font-family: questrail;
    font-size: smaller;
}